<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

    <link rel="stylesheet" href="/css/logged_in.css">
    <script src="https://kit.fontawesome.com/f85aa908bc.js" crossorigin="anonymous"></script>
    <title>DashBoard</title>

</head>

<body>
    <h1>Welcome to your dashboard!</h1>
    <div class="media-body">
        <div class="pull-left">
            <img class="media-object" width="150" src="<%=images[0].url%>" />
        </div>
        <div class="media-body">
            <dl class="dl-horizontal">
                <dt>Name:</dt>
                <dd class="clearfix"><%=display_name%></dd>
                <dt>Id:</dt>
                <dd><%=id%></dd>
                <dt>Email:</dt>
                <dd><%=email%></dd>
                <dt>Spotify URI:</dt>
                <dd><a href="<%=external_urls.spotify%>"><%=external_urls.spotify%></a></dd>
                <dt>Link:</dt>
                <dd><a href="<%=href%>"><%=href%></a></dd>
                <dt>Profile Image:</dt>
                <dd class="clearfix"><a href="<%=images[0].url%>"><%=images[0].url%></a></dd>
                <dt>Country:</dt>
                <dd><%=country%></dd>
                <dt>Access Token:</dt>
                <dd id="access_token"><%=access_token%></dd>
                <dt id="refresh_token">Refresh Token:</dt>
                <dd><%=refresh_token%></dd>
            </dl>
        </div>
    </div>

    <div style="display: flex; flex-direction: row; justify-content: space-evenly; width: 100%;">
        <div>
            <!-- <a style="align-items: center;" href="/refresh_token" class="btn btn-primary"> grab a new access token! </a> -->
            <span class="spanEle">Your Top Artists: </span>
            <ul>
                <li>Artist1: <%=artist_1%></li>
                <li>Artist2: <%=artist_2%></li>
                <li>Artist3: <%=artist_3%></li>
                <li>Artist4: <%=artist_4%></li>
                <li>Artist5: <%=artist_5%></li>
                <li>Artist6: <%=artist_6%></li>
                <li>Artist7: <%=artist_7%></li>
                <li>Artist8: <%=artist_8%></li>
                <li>Artist9: <%=artist_9%></li>
                <li>Artist10: <%=artist_10%></li>
            </ul>

        </div>
        <div>
            <!-- <a style="align-items: center;" href="/refresh_token" class="btn btn-primary"> grab a new access token! </a> -->

            <span class="spanEle">Your Top Tracks: </span>
            <ul>
                <li>Track1: <%=track_1%></li>
                <li>Track2: <%=track_2%></li>
                <li>Track3: <%=track_3%></li>
                <li>Track4: <%=track_4%></li>
                <li>Track5: <%=track_5%></li>
                <li>Track6: <%=track_6%></li>
                <li>Track7: <%=track_7%></li>
                <li>Track8: <%=track_8%></li>
                <li>Track9: <%=track_9%></li>
                <li>Track10: <%=track_10%></li>
            </ul>
            <span class="hidden" id="trackId1"> <%=trackId_1%> </span>
            <span class="hidden" id="trackId2"> <%=trackId_2%> </span>
            <span class="hidden" id="trackId3"> <%=trackId_3%> </span>
            <span class="hidden" id="trackId4"> <%=trackId_4%> </span>
            <span class="hidden" id="trackId5"> <%=trackId_5%> </span>
            <span class="hidden" id="trackId6"> <%=trackId_6%> </span>
            <span class="hidden" id="trackId7"> <%=trackId_7%> </span>
            <span class="hidden" id="trackId8"> <%=trackId_8%> </span>
            <span class="hidden" id="trackId9"> <%=trackId_9%> </span>
            <span class="hidden" id="trackId10"> <%=trackId_10%> </span>
        </div>
        <div>
            <a style="align-items: center;" href="/getRecommendations" class="btn btn-primary"> Suggest me songs! </a>
            <% if (recommendationInfo) { %>
            <button id="pause1"> Pause </button> <button id="resume1"> Resume </button>
            <!-- gotta change all these names!!!! -->
            <ul id="playButtons-1">
                <li>Recommendation1: <%=rec_1%> <i id="play1" class="fas fa-play"></i> </li>
                </br>


                <li>Recommendation2: <%=rec_2%> <i id="play2" class="fas fa-play"></i> </li>

                </br>
                <li>Recommendation3: <%=rec_3%> <i id="play3" class="fas fa-play"></i> </li>

                </br>
                <li>Recommendation4: <%=rec_4%> <i id="play4" class="fas fa-play"></i> </li>

                </br>
                <li>Recommendation5: <%=rec_5%> <i id="play5" class="fas fa-play"></i> </li>

                </br>
                <li>Recommendation6: <%=rec_6%> <i id="play6" class="fas fa-play"></i> </li>

                </br>
                <li>Recommendation7: <%=rec_7%> <i id="play7" class="fas fa-play"></i> </li>

                </br>
                <li>Recommendation8: <%=rec_8%> <i id="play8" class="fas fa-play"></i> </li>

                </br>
                <li>Recommendation9: <%=rec_9%> <i id="play9" class="fas fa-play"></i> </li>

                </br>
                <li>Recommendation10: <%=rec_10%> <i id="play10" class="fas fa-play"></i> </li>

                </br>
            </ul>
            <div class="hidden" id="hidden-uris">
                <span id="rec_val1"> <%=uri_1%> </span>
                <span id="rec_val2"> <%=uri_2%> </span>
                <span id="rec_val3"> <%=uri_3%> </span>
                <span id="rec_val4"> <%=uri_4%> </span>
                <span id="rec_val5"> <%=uri_5%> </span>
                <span id="rec_val6"> <%=uri_6%> </span>
                <span id="rec_val7"> <%=uri_7%> </span>
                <span id="rec_val8"> <%=uri_8%> </span>
                <span id="rec_val9"> <%=uri_9%> </span>
                <span id="rec_val10"> <%=uri_10%> </span>
            </div>
            <% } %>

            <ul id="playButtons-2"></ul>
        </div>
    </div>
    <hr style="border: 2px solid #BB86FC;">
    <div style="display: flex; flex-direction: column; justify-content: space-evenly; width: 100%; margin-left: 45%;">
        <!-- we need a drop down here that asks to select current mood -->
        <div>

            <p id="selectMood">Select Your Mood Below: </p>
            <select name="moodSelector" id="moodSelector">
                <option value="Select" disabled selected>Select Your Mood</option>
                <option value="happy">happy</option>
                <option value="sad">sad</option>
                <option value="party">party</option>
                <option value="chill">chill</option>
                <option value="frustrated">frustrated</option>
                <option value="random">random</option>
            </select>
            <button id="pause2"> Pause </button> <button id="resume2"> Resume </button>
        </div>
        <ul class="hidden" id="display_mood_results">
            <li><span id="mood_li1"> </span> <i id="mood_play1" class="fas fa-play"></i></li>
            </br>
            <li><span id="mood_li2"> </span> <i id="mood_play2" class="fas fa-play"></i></li>

            </br>
            <li><span id="mood_li3"> </span> <i id="mood_play3" class="fas fa-play"></i></li>

            </br>
            <li><span id="mood_li4"> </span> <i id="mood_play4" class="fas fa-play"></i></li>

            </br>
            <li><span id="mood_li5"> </span> <i id="mood_play5" class="fas fa-play"></i></li>

            </br>
            <li><span id="mood_li6"> </span> <i id="mood_play6" class="fas fa-play"></i></li>

            </br>
            <li><span id="mood_li7"> </span> <i id="mood_play7" class="fas fa-play"></i></li>

            </br>
            <li><span id="mood_li8"> </span> <i id="mood_play8" class="fas fa-play"></i></li>

            </br>
            <li><span id="mood_li9"> </span> <i id="mood_play9" class="fas fa-play"></i></li>

            </br>
            <li><span id="mood_li10"> </span> <i id="mood_play10" class="fas fa-play"></i></li>

            </br>
        </ul>
        <div class="hidden" id="hidden-uris-2">
            <span id="mood_val1"> </span>
            <span id="mood_val2"> </span>
            <span id="mood_val3"> </span>
            <span id="mood_val4"> </span>
            <span id="mood_val5"> </span>
            <span id="mood_val6"> </span>
            <span id="mood_val7"> </span>
            <span id="mood_val8"> </span>
            <span id="mood_val9"> </span>
            <span id="mood_val10"> </span>
        </div>
    </div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="module" src="/js/helper.js"></script>
    <script src="https://sdk.scdn.co/spotify-player.js"></script>
    <script type="module" src="/js/spotify_playback.js"></script>
</body>

</html>